/*
* MENU
*/

.menu{
    background-color: #FFFFFF;
}

.menu__body{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 28px 32px;
}

.menu__title{
    margin: 0;
    font-size: 18px;
    color: #0F5830;
}

.menu__title span{
    display: block;
    font-size: 12px;
    color: #CCCCCC;
}

.menu__nav--header .menu__item {
    display: none;
}


.menu__item:hover{
    text-decoration: underline;
}

.menu__item--active{
    color: #0F5830;
}

.menu__item  {
    color: #636363;
    font-weight: 800;
    text-decoration: none;
}

.menu__item--active svg {
    color: #0F5830;
}

.menu__nav--bottom-bar .menu__item span {
    font-weight: 600;
    font-size: 12px;
}

.menu__nav--bottom-bar .menu__item--active span {
    color: #0F5830;
    font-weight: 600;
    font-size: 12px;
} 

.menu__nav--lined {
    display: flex;
    gap: var(--lg);
    padding: 32px 0;
}

.menu__nav--lined .menu__item {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.menu__nav--lined .menu__item--active{
    color: #0F5830;
    padding-bottom: var(--md);
    border-bottom: #0F5830 solid;
}

@media (min-width: 768px) {

    .menu__nav--header {
        display: flex;
        gap: var(--md);
    }
    
    .menu__nav--header .menu__item {
        display: inline-block;
        font-weight: bold;
        padding: 0 8px;
    }

    .menu__nav--header .menu__item--active{
        color: #0F5830;
    }
}
