/**
* Abstract Card
*/

.card {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    margin: 30px 15px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.card__header {
    display: flex;
    width: 100%;
}

.card__content {
    display: flex;
    width: 100%;
}

/*
* card
*/


.card__badge {
    display: inline-block;
    width: fit-content;
    padding: 8px;
    background-color: #CCCCCC;
    color: #0F5830;
    font-size: 12px;
    text-transform: uppercase;
}

.card__title{
    color: #0F5830;
}

.card__description{
    margin: 0;
    color: #999999;
}

.card__progress-bar {
    width: 25rem;
    margin: 10px 0;
    height: 10px;
    background-color: #CCCCCC;
    border-radius: 8px;
}

.card__progress-bar div{
    height: 100%;
    background-color: #0F5830;
    border-radius: 8px;
}

.card__progress-text{
    margin-left: 0.25rem;
    color: #999;
}

.card__button {
    height: fit-content;
    display: block;
    padding: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: #0F5830;
}

/*
* card-stat
*/

.card__label{
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #999999;
    font-weight: 600;
    
}

.card__value {
    margin: 8px 0;
    padding-top: 0;
    color: #0F5830;
}

.card__description--stat{
    font-size: 12px;
}