@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Datatype:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0; 
    margin: 0;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
}

.container > div {
    width: 50%;
}


main{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    
}

header{
    background-color: #ffffff;
}

/*
* VARIAVEIS
*/

:root {
    --xs: var(--xs);
    --sm: 8px;
    --md: 16px;
    --lg: 24px;
    --xl: 32px;
}

/*
* GROUP
*/

.group {
    display: flex;
}

.group--row {
    flex-direction: column;
}

.group--col {
    flex-direction: row;
}

.group.align--middle-center {
    align-items: center;
    justify-content: center;
}

.group--col.align--middle-start {
    align-items: center;
    justify-content: start;
}

.group--row.align--middle-start {
    align-items: start;
    justify-content: center;
}

/* GAP */

.gap--none { gap: 0;    }
.gap--xs   { gap: var(--xs);  }
.gap--sm   { gap: var(--sm);  }
.gap--md   { gap: var(--md); }
.gap--lg   { gap: var(--lg); }
.gap--xl   { gap: var(--xl); }

/* MARGIN */

.m--none { margin: 0; }
.m--xs   { margin: var(--xs); }
.m--sm   { margin: var(--sm); }
.m--md   { margin: var(--md); }
.m--lg   { margin: var(--lg); }
.m--xl   { margin: var(--xl); }


/* MARGIN X */

.mx--none { margin-left: 0; margin-right: 0; }
.mx--xs   { margin-left: var(--xs); margin-right: var(--xs); }
.mx--sm   { margin-left: var(--sm); margin-right: var(--sm); }
.mx--md   { margin-left: var(--md); margin-right: var(--md); }
.mx--lg   { margin-left: var(--lg); margin-right: var(--lg); }
.mx--xl   { margin-left: var(--xl); margin-right: var(--xl); }


/* MARGIN Y */

.my--none { margin-top: 0; margin-bottom: 0; }
.my--xs   { margin-top: var(--xs); margin-bottom: var(--xs); }
.my--sm   { margin-top: var(--sm); margin-bottom: var(--sm); }
.my--md   { margin-top: var(--md); margin-bottom: var(--md); }
.my--lg   { margin-top: var(--lg); margin-bottom: var(--lg); }
.my--xl   { margin-top: var(--xl); margin-bottom: var(--xl); }

/* Auto */
.mx--auto { margin-left: auto; margin-right: auto; }
.my--auto { margin-top: auto; margin-bottom: auto; }
.mt--auto { margin-top: auto; }
.mb--auto { margin-bottom: auto; }
.ml--auto { margin-left: auto; }
.mr--auto { margin-right: auto; }

/* Lados individuais */



.mt--xs { margin-top: var(--xs); }
.mb--xs { margin-bottom: var(--xs); }
.ml--xs { margin-left: var(--xs); }
.mr--xs { margin-right: var(--xs); }

.mt--sm { margin-top: var(--sm); }
.mb--sm { margin-bottom: var(--sm); }
.ml--sm { margin-left: var(--sm); }
.mr--sm { margin-right: var(--sm); }

.mt--md { margin-top: var(--md); }
.mb--md { margin-bottom: var(--md); }
.ml--md { margin-left: var(--md); }
.mr--md { margin-right: var(--md); }

.mt--lg { margin-top: var(--lg); }
.mb--lg { margin-bottom: var(--lg); }
.ml--lg { margin-left: var(--lg); }
.mr--lg { margin-right: var(--lg); }

.mt--xl { margin-top: var(--xl); }
.mb--xl { margin-bottom: var(--xl); }
.ml--xl { margin-left: var(--xl); }
.mr--xl { margin-right: var(--xl); }


/*
* PADDING
*/