@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Datatype:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0; 
    margin: 0;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
}

.container > div {
    width: 50%;
}


main{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    
}

header{
    background-color: #ffffff;
}

/*
* MENU
*/


.menu{
    background-color: #FFFFFF;
}

.menu__body{
    display: flex;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;

}

.menu__title{
    margin: 0;
    font-size: 18px;
    color: #0F5830;
}

.menu__title span{
    display: block;
    font-size: 12px;
    color: #CCCCCC;
}

.menu__links{
    margin-left: auto;
}

.menu__item{
    display: inline-block;
    padding: 0 8px;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

.menu__item:hover{
    text-decoration: underline;
}

.menu__item--active{
    color: #0F5830;
}

/*
* WELCOME
*/

.welcome{
    padding: 40px 0;
}

.welcome h2{ 
    margin: 0;
    font-size: 32px;
    color: #0F5830;
}

.welcome p{
    color: #999999;
}

/*
* GROUP
*/
