@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Datatype:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 0; 
    margin: 0;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
}

.container > div {
    width: 50%;
}


main{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    
}

header{
    background-color: #ffffff;
}

/*
* MENU
*/


.menu{
    background-color: #FFFFFF;
}

.menu__body{
    display: flex;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;

}

.menu__title{
    margin: 0;
    font-size: 18px;
    color: #0F5830;
}

.menu__title span{
    display: block;
    font-size: 12px;
    color: #CCCCCC;
}

.menu__links{
    margin-left: auto;
}

.menu__item{
    display: inline-block;
    padding: 0 8px;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

.menu__item:hover{
    text-decoration: underline;
}

.menu__item--active{
    color: #0F5830;
}

/*
* WELCOME
*/

.welcome{
    padding: 40px 0;
}

.welcome h2{ 
    margin: 0;
    font-size: 32px;
    color: #0F5830;
}

.welcome p{
    color: #999999;
}

/*
* GROUP
*/

.group {
    display: flex;
}

.layout--row {
    flex-direction: column;
}

.layout--col {
    flex-direction: row;
}

.align--middle-center {
    align-items: center;
    justify-content: center;
}

.layout--col.align--middle-start {
    align-items: center;
    justify-content: start;
}

.layout--row.align--middle-start {
    align-items: start;
    justify-content: center;
}

/* grid */

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid.gap--16 {
    gap: 16px;
}

@media (min-width: 600px) {
    .sd\:col--2 { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 960px) {
    .md\:col--3 { grid-template-columns: repeat(3, 1fr); }
}

/* margin */

.ml--auto {
    margin-left: auto;
}

.mt--4 {
    margin-top: 4px;
}

.mb--4 {
    margin-bottom: 4px;
}