.grid {
    display: grid;
    grid-template-columns: 1fr;
}

/* Colunas */

.grid.col--1 { grid-template-columns: repeat(1, 1fr); }
.grid.col--2 { grid-template-columns: repeat(2, 1fr); }
.grid.col--3 { grid-template-columns: repeat(3, 1fr); }
.grid.col--4 { grid-template-columns: repeat(4, 1fr); }


@media (min-width: 576px) {

    .grid.sm\:col--1 { grid-template-columns: repeat(1, 1fr); }
    .grid.sm\:col--2 { grid-template-columns: repeat(2, 1fr); }
    .grid.sm\:col--3 { grid-template-columns: repeat(3, 1fr); }
    .grid.sm\:col--4 { grid-template-columns: repeat(4, 1fr); }

}


@media (min-width: 768px) {

    .grid.md\:col--1 { grid-template-columns: repeat(1, 1fr); }
    .grid.md\:col--2 { grid-template-columns: repeat(2, 1fr); }
    .grid.md\:col--3 { grid-template-columns: repeat(3, 1fr); }
    .grid.md\:col--4 { grid-template-columns: repeat(4, 1fr); }

}


@media (min-width: 992px) {

    .grid.lg\:col--1 { grid-template-columns: repeat(1, 1fr); }
    .grid.lg\:col--2 { grid-template-columns: repeat(2, 1fr); }
    .grid.lg\:col--3 { grid-template-columns: repeat(3, 1fr); }
    .grid.lg\:col--4 { grid-template-columns: repeat(4, 1fr); }

}
